.app {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto 100px auto;
}

.image-wrapper {
  flex-basis: 50%;
  padding: 10px;
}

.image {
  width: 100%;
}

.form-wrapper {
  flex-basis: 50%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .form-wrapper {
    width: 100%;
  }

}
